.row
  .col-xs-12.outer-center
    .row.inner-center
      h2.text-center About me
    .row.inner-center
      .col-xs-4.col-lg-3.outer-center
        .inner-center
          img.img-circle.img-responsive.profile-pic(src="/images/Olumide-Awofeso.jpg")
          a(target="_blank" href="twitter.com/OlumideAwofeso").text-center.block @OlumideAwofeso
      .col-xs-8.col-lg-9.outer-center
        .inner-center
          p Yes, that's me on the left. I'm a very passionate programmer with a lot of
            | experience with java and Android.
            | I spend 99% of my free time learning
            | new technologies, making an android app, reading books to learn more
            | skills and on Netflix.
            br
            |In addition to java, I also work with these languages
            ul
              li C, C++
              li php
              li node
              li html, jade
              li python
          p Currently I'm learning C# and Universal Windows apps
            |and I'm also currently reading &#20;
            a(target="_blank" href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612")
              | Design Patterns.
