.outer-center{
    height: 100%;
    position: relative;
}

.home{
    padding-bottom:10vh;
}

.fill{
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100vh;
}

#about, #contact{
    background: #f5f5f5;
}

.profile-pic{
    padding: 20px;
}

.inline{
    display: inline;
}

#about p, #about li{
    font-size: 1.03em;
}

.inner-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block{
    display: block;
}

.border-left, .border{
    border-left: 1px solid #a2a2a2;
}

.border-right, .border{
    border-right: 1px solid #a2a2a2;
}

.name{
    font-family: 'Roboto Slab', serif;
    padding: 10px;
}
